@import "tailwindcss";

/* fonts style */
@layer base {
  @font-face {
    font-family: "aeonik";
    src: url("/fonts/Aeonik-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "aeonik";
    src: url("/fonts/Aeonik-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "aeonik";
    src: url("/fonts/Aeonik-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "aeonik";
    src: url("/fonts/Aeonik-Black.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
}
/* custom tailwind classes */
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

/* using global font as aeonik (custom) instead of sans serif */
@theme {
  --font-sans: "aeonik";
  --color-blue-50: #598eff;
  --color-blue-300: #1c34ff;
  --color-white-50: #fdfdfd;
  --color-black-100: #0b0620;
  --color-black-300: #17151f;
  --color-pink-100: #ff28d5;
  --color-primary: #a7a7a7;
}

/* setting bg-color for root */
html,
body {
  width: 100dvw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--color-black-100);
  color: var(--color-primary);
}
section {
  width: 100dvw;
  min-height: 100dvh;
}
canvas {
  display: block;
}
